#weatherWidget .currentDesc {
    color: #ffffff!important;
}

.traffic-chart {
    min-height: 335px;
}

#flotPie1 {
    height: 150px;
}

#flotPie1 td {
    padding: 3px;
}

#flotPie1 table {
    top: 20px!important;
    right: -10px!important;
}

.chart-container {
    display: table;
    min-width: 270px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

#flotLine5 {
    height: 105px;
}

#flotBarChart {
    height: 150px;
}

#cellPaiChart {
    height: 160px;
}

.fabutton {
    background: none;
    padding: 0px;
    border: none;
}

.text-danger {
    color: red!important;
    font-size: 12px;
    font-weight: 600;
}

.edit_btn {
    font-size: 20px;
    /* color: #007bff; */
    color: #007bff;
    cursor: pointer;
}

.dlt_btn {
    font-size: 20px;
    /* color: red; */
    color: #007bff;
    cursor: pointer;
}

.add_btn {
    color: white;
}

.box_border {
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    padding: 10px;
}

.select2-container--default {
    width: 100% !important;
}

.select2-selection--single {
    font-size: 15px;
    height: 38px !important;
    padding: 0px 5px 1px 5px;
}

.select2-selection__arrow {
    top: 5px !important;
}
.select2-selection--single .select2-selection__placeholder{
color:#495057 !important;
}
#datepicker>span:hover {
    cursor: pointer;
}

.label_font_size {
    font-size: 14px;
    font-weight: 600;
    height:35px;
}

.input_size {
    font-size: 12px;
    /*height: 28px;*/
    padding: 0px 5px 1px 9px;
}

.heading_font_size {
    font-size: 14px
}

.input-group-addon {
    padding: 3px 6px;
    margin-left: -31px;
    z-index: 0;
    background-color: inherit;
    border: none;
}

.navbar .navbar-nav li.show .sub-menu .active i,
.navbar .navbar-nav li.show .sub-menu .active a {
    color: #03a9f3;
}

.table_body {
    font-size: 12px !important;
}

.table_format td {
    font-size: 12px !important;
}

.card .box-title {
    font-size: 20px;
}
.table_format{background-color:#fff !important;}
.nopadding{
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
}