.script_contact-search-box {
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgb(60 64 67 / 1%) 0px 1px 2px 0px, rgb(60 64 67 / 13%) 0px 1px 3px 1px;
}
.dataTables_wrapper .dt-buttons {
    padding-left: 25px !important;
    float: right;
}

/** Negative margin */
.mt-n1 {
    margin-top: -1rem;
}

.mb-n1 {
    margin-bottom: -1rem;
}

.ml-n1 {
    margin-left: -1rem;
}

.mr-n1 {
    margin-right: -1rem;
}

.select2-results__option:before {
    content: "";
    display: inline-block;
    position: relative;
    height: 20px;
    width: 20px;
    border: 2px solid #e9e9e9;
    border-radius: 4px;
    background-color: #fff;
    margin-right: 20px;
    vertical-align: middle;
}

.select2-results__option[aria-selected=true]:before {
    font-family: fontAwesome;
    content: "\f00c";
    color: #fff;
    background-color: #f77750;
    border: 0;
    display: inline-block;
    padding-left: 3px;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #fff;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #eaeaeb;
    color: #272727;
}

.select2-container--open .select2-dropdown--below {
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* select with icons badges single*/
.select-icon .select2-selection__placeholder .badge {
    display: none;
}

.select-icon .placeholder {
    display: none;
}

.select-icon .select2-results__option:before,
.select-icon .select2-results__option[aria-selected=true]:before {
    display: none !important;
    /* content: "" !important; */
}

.select2-selection--multiple:before {
    content: "";
    position: absolute;
    right: 7px;
    top: 42%;
    border-top: 5px solid #888;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    cursor: pointer;
}

.dt-checkboxes-cell {
    text-align: center;
}

.label_font_size {
    height: 20px;
}

optgroup.poplar_optgroup {
    background-color: #dedede;
    color: #212529;
    font-weight: 200;
}

.poplar_optgroup option {
    background-color: #fff;
    color: #000;
}